<a href="https://colab.research.google.com/github/Latamila/Latamila/blob/main/rainForestforCredit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving credito.csv to credito.csv

In [ ]:
credito = pd.read_csv('credito.csv')

In [ ]:
credito.head(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
5,unknown,36,good,education,9055,unknown,1 - 4 years,2,4,35,none,other,1,unskilled,2,yes,no
6,unknown,24,good,furniture/appliances,2835,500 - 1000 DM,> 7 years,3,4,53,none,own,1,skilled,1,no,no
7,1 - 200 DM,36,good,car,6948,< 100 DM,1 - 4 years,2,2,35,none,rent,1,management,1,yes,no
8,unknown,12,good,furniture/appliances,3059,> 1000 DM,4 - 7 years,2,4,61,none,own,1,unskilled,1,no,no
9,1 - 200 DM,30,critical,car,5234,< 100 DM,unemployed,4,2,28,none,own,2,management,1,no,yes

In [ ]:
credito.shape

(1000, 17)

In [ ]:
#substituindo os valores das classes por 0 e 1
credito['default'] = credito['default'].replace({"no":0, "yes":1})

#trocando o nome da variavel alvo
credito = credito.rename(columns = {'default' : 'classe'})

In [ ]:
credito = credito.rename(columns = {'default' : 'classe',
                                    'checking_balance': 'saldo_bancario',
                                    'months_loan_duration': 'meses_financiamento',
                                    'credit_history': 'historico_credito',
                                    'purpose':'finalidade',
                                    'amount': 'valor',
                                    'savings_balance': 'saldo_aplicacoes',
                                    'employment_duration':'duracao_trabalho',
                                    'percent_of_income':'percentual_renda',
                                    'years_at_residence':'anos_residencia',
                                    'age': 'idade',
                                    'other_credit': 'outros_creditos',
                                    'housing': 'situacao_residencial',
                                    'existing_loans_count': 'emprestimos_existentes',
                                    'job': 'trabalho',
                                    'dependents': 'dependentes',
                                    'phone':'telefone'})

In [ ]:
credito

,saldo_bancario,meses_financiamento,historico_credito,finalidade,valor,saldo_aplicacoes,duracao_trabalho,percentual_renda,anos_residencia,idade,outros_creditos,situacao_residencial,emprestimos_existentes,trabalho,dependentes,telefone,classe
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,0
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,1
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,0
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,0
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,0
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,0
997,unknown,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,0
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,1
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,0

In [ ]:
credito['classe'].value_counts()

0    700
1    300
Name: classe, dtype: int64

In [ ]:
credito['historico_credito'].value_counts()

good         530
critical     293
poor          88
very good     49
perfect       40
Name: historico_credito, dtype: int64

Quando usamos o mÃ©todo pop(), estamos, literalmente, extraindo a 
coluna do dataframe. Assim, a coluna â€œclasseâ€, a nossa variÃ¡vel alvo, serÃ¡ armazenada 
em uma variÃ¡vel chamada â€œclasseâ€ e serÃ¡ eliminada do dataframe â€œcreditoâ€.

In [ ]:
#extraindo as classes do dataframe

classes= np.array(credito.pop('classe'))

O algoritmo que utilizaremos sÃ³ funciona com dados 
numÃ©ricos, e vocÃª deve ter percebido que temos muitos dados nÃ£o numÃ©ricos no 
nosso conjunto. Dessa forma, nÃ£o conseguiremos criar o modelo. O pacote Pandas nos oferece um mÃ©todo para converter dados nÃ£o numÃ©ricos em dados numÃ©ricos, o mÃ©todo get_dummies(). O mÃ©todo usa uma tÃ©cnica 
conhecida como one-hot encoding para criar colunas adicionais no dataframe com valores binÃ¡rios.

In [ ]:
credito = pd.get_dummies(credito)

In [ ]:
credito

,meses_financiamento,valor,percentual_renda,anos_residencia,idade,emprestimos_existentes,dependentes,saldo_bancario_1 - 200 DM,saldo_bancario_< 0 DM,saldo_bancario_> 200 DM,...,outros_creditos_store,situacao_residencial_other,situacao_residencial_own,situacao_residencial_rent,trabalho_management,trabalho_skilled,trabalho_unemployed,trabalho_unskilled,telefone_no,telefone_yes
0,6,1169,4,4,67,2,1,0,1,0,...,0,0,1,0,0,1,0,0,0,1
1,48,5951,2,2,22,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
3,42,7882,2,4,45,1,2,0,1,0,...,0,1,0,0,0,1,0,0,1,0
4,24,4870,3,4,53,2,2,0,1,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,4,31,1,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
996,30,3857,4,4,40,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
997,12,804,4,4,38,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
998,45,1845,4,4,23,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
999,45,4576,3,4,27,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0

In [ ]:
import sklearn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
treino,teste,treino_classes,teste_classes = train_test_split(credito, classes,
                                                             stratify= classes,
                                                             test_size=0.2,
                                                             random_state=123)

In [ ]:
#carregando o pacote para o modelo de arvore de decisao 
from sklearn.tree import DecisionTreeClassifier

In [ ]:
arvore=DecisionTreeClassifier(random_state=123)

In [ ]:
arvore.fit(treino, treino_classes)

DecisionTreeClassifier(random_state=123)

In [ ]:
#previsoes
previsoes_teste = arvore.predict(teste)

In [ ]:
#carregando os pacotes para avaliacao do modelo
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
#matriz de confusao
confusion_matrix(previsoes_teste, teste_classes)

array([[103,  31],
       [ 37,  29]])

A matriz de confusÃ£o (confusion_matrix) Ã© uma das abordagens mais utilizadas 
para avaliar modelos de classificaÃ§Ã£o. Na diagonal principal da matriz (103 e 
29), estÃ£o os acertos do modelo. Perceba que usamos a funÃ§Ã£o confusion_matrix 
com os parÃ¢metros: previsoes_teste e teste_classes, ou seja, as previsÃµes feitas pelo 
modelo e as classes reais do conjunto de dados. Assim, Ã© possÃ­vel saber quando 
o modelo acertou ou errou em suas previsÃµes.

**Nesse caso especÃ­fico, o modelo acertou 132 previsÃµes (103 + 29)**

A diagonal 
secundÃ¡ria apresenta os erros do modelo: 68 (37 + 31). Podemos, assim, calcular a 
precisÃ£o do nosso modelo, simplesmente, dividindo os acertos pelo total de previsÃµes: 132 / 200 = 0,66 (66%). A precisÃ£o total do modelo Ã© de 66%. Se avaliarmos 
somente a precisÃ£o total, dirÃ­amos que temos um modelo promissor.

**a funÃ§Ã£o 
classification_report nos fornece um relatÃ³rio mais detalhado do desempenho 
do modelo**

In [ ]:
print(classification_report(teste_classes, previsoes_teste))

              precision    recall  f1-score   support

           0       0.77      0.74      0.75       140
           1       0.44      0.48      0.46        60

    accuracy                           0.66       200
   macro avg       0.60      0.61      0.61       200
weighted avg       0.67      0.66      0.66       200

Preste atenÃ§Ã£o nos valores em destaque! A primeira linha mostra informaÃ§Ãµes 
sobre a classe 0. VocÃª deve estar lembrado(a) de que substituÃ­mos os valores â€œnoâ€ 
(nÃ£o) para 0 e os valores â€œyesâ€ (sim) para 1.

a classe 0 representa os pareceres negativos e, nesse caso, o modelo teve 77% de precisÃ£o quando previu que 
a classe seria 0. JÃ¡ para a classe 1, a precisÃ£o foi de 44%. A seta vermelha destaca 
a precisÃ£o total do modelo.

O modelo atÃ© se comporta bem quando faz previsÃµes para a classe 0, mas 
tem um desempenho muito ruim quando a classe Ã© 1

O modelo Ã© muito mais preciso para a classe 
0, porque â€œaprendeuâ€ mais sobre essa classe.

O algoritmo random 
forest Ã© uma evoluÃ§Ã£o da Ã¡rvore de decisÃ£o. Em linhas gerais, ele trabalha com 
vÃ¡rias Ã¡rvores de forma simultÃ¢nea, fazendo combinaÃ§Ãµes diferentes de dados 
e variÃ¡veis â€” random forest: floresta randÃ´mica (GRUS, 201). Essa abordagem, 
em muitos casos, consegue construir modelos mais precisos. Verifiquemos!

In [ ]:
#carregando o pacote do classificador random forest
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf= RandomForestClassifier(n_estimators=100,
                           random_state=123,
                           max_features='sqrt',
                           n_jobs=1,
                           verbose=1)

In [ ]:
rf.fit(treino,treino_classes)
previsoes_teste_rf = rf.predict(teste)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

NÃ£o se preocupe com a quantidade de parÃ¢metros na criaÃ§Ã£o do modelo. Veja, 
porÃ©m, que temos um parÃ¢metro chamado n_estimators = 100. Esse parÃ¢metro 
define, basicamente, a quantidade de Ã¡rvores que o modelo manipularÃ¡. Isso Ã© 
muito mais eficiente do que trabalhar com apenas uma Ãºnica Ã¡rvore. SerÃ¡ mesmo? Avaliaremos o resultado das previsÃµes com o novo modelo

In [ ]:
confusion_matrix(previsoes_teste_rf, teste_classes)

array([[124,  32],
       [ 16,  28]])

In [ ]:
print(classification_report(teste_classes, previsoes_teste_rf))

              precision    recall  f1-score   support

           0       0.79      0.89      0.84       140
           1       0.64      0.47      0.54        60

    accuracy                           0.76       200
   macro avg       0.72      0.68      0.69       200
weighted avg       0.75      0.76      0.75       200

**Veja que a precisÃ£o total do modelo aumentou para 76%. As precisÃµes das classestambÃ©m melhoraram. Temos, agora, para a classe 0, uma precisÃ£o de 79% e, para a classe 1, uma precisÃ£o de 64%, ou seja, um aumento de 20 pontos percentuais 
em relaÃ§Ã£o ao modelo anterior**

O que acabamos de fazer Ã© uma estratÃ©gia comumente 
adotada, ou seja, construir modelos com abordagens diferentes usando o 
mesmo conjunto de dados. Durante a etapa de construÃ§Ã£o dos modelos, Ã© provÃ¡vel que vocÃª construa vÃ¡rias versÃµes, com o objetivo de melhorar os resultados.